<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/feed.css" />
    <title>Home Page</title>
  </head>
  <body>
    <header>
      <nav>
        <span id="logo">FuFront</span>
        <div class="rigt__elem">
          <span><a href="feed.html">Home</a></span>
          <span><a id="profileNav">Profile</a></span>
          <span><a href="post.html">Post</a></span>
          <span id="logout">Logout</span>
        </div>
      </nav>
    </header>
    <div class="feed__container">
      <div class="feed__card">
        <div class="feed__main__header">
          <div class="feed__header">
            <img
              class="headerPic"
              src="../public/images/bir.jpeg"
              alt="user-thumbnail"
            />
            <h4 class="bold">Migo</h4>
          </div>
          <img src="../public/images/moreicon.png" alt="" />
        </div>
        <div

          class="feed__photo"
          style="background-image: url('../public/images/uc.jpeg')"
        ></div>

        <div class="feed__stats">
          <div class="stats__actions">
            <span class="change-likes" id="likePost">Like</span>
            <span class="send-comment">Comment</span>
          </div>
          <div class="stats__number">
            <span id="likes">1.243</span>
          </div>
        </div>

        <div class="feed__desc">
          <div class="desc__author bold" id="authorName">Migo</div>
          <div class="desc__text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur
          </div>
        </div>
        <div class="read__more"><small>...read more</small></div>
      </div>
    </div>

    <script src="../public/feed.js"></script>
  </body>
</html>
