<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/profile.css">
    <title>Profile</title>
  </head>
  <body>
    <header>
      <nav>
        <span id="logo">FuFront</span>
        <div class="rigt__elem">
          <span><a href="feed.html">Home</a></span>
          <span><a href="post.html">Post</a></span>
          <span><a href="settings.html">Settings</a></span>
          <span id="logout">Logout</span>
        </div>
      </nav>
    </header>
    <main>
      <div class="profile__header">
        <div class="profile__thumbnail"></div>
        <div class="profile__stats">
          <div class="profile__headline"></div>
          <div class="profile__desc">
            <p id="p__desc">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium, reiciendis?
            </p>
          </div>
          <div class="profile__details">
            <p><span id="user__post" class="bold">2</span> posts</p>
            <p><span id="user__following" class="bold">4</span> following</p>
            <p><span id="user__followers" class="bold">3</span> followers</p>
          </div>
        </div>
      </div>
      <div class="profile__posts">
        <div class="profile__post" ></div>
      </div>
    </main>
    <script src="../public/profile.js"></script>
  </body>
</html>
