<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Settings</title>
    <link rel="stylesheet" href="../public/settings.css" />
  </head>
  <body>
    <header>
      <nav>
        <span id="logo">FuFront</span>
        <div class="rigt__elem">
          <span><a href="feed.html">Home</a></span>
          <span><a href="post.html">Post</a></span>
          <span><a href="profile.html">Porfile</a></span>
          <span id="logout">Logout</span>
        </div>
      </nav>
    </header>
    <main>
      <div class="settingsContainer">
        <form id="settings__form">
          <label for="username">Username</label>
          <input type="text" id="settings-username" name="username" />

          <label for="email">Email</label>
          <input type="text" id="settings-email" name="email" />

          <label for="password">Password : </label>
          <input type="text" id="settings-password" name="password" />
        </form>
      </div>
    </main>
  </body>
</html>
