<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Settings</title>
    <link rel="stylesheet" href="../public/settings.css" />
  </head>
  <body>
    <header>
      <nav>
        <span id="logo">FuFront</span>
        <div class="rigt__elem">
          <span><a href="feed.html">Home</a></span>
          <span><a href="post.html">Post</a></span>
          <span><a href="profile.html">Porfile</a></span>
          <span id="logout">Logout</span>
        </div>
      </nav>
    </header>
    <main>
      <div class="settingsContainer">
        <form id="settings__form">

          <div class="lblinp">
            <label  class="picLabel" for="profile_pic_input">Edit profile picture</label>
            <div class="profilePicContainer">
              <div class="profilePic">
                <label for="profile_pic_input">
                  <div class="profilePicOverlay">
                    <span class="emoji">📷</span>
                  </div>
                  <img id="profilePic" src="../public/images/uc.jpeg" alt="" />
                  <input
                    type="file"
                    id="profile_pic_input"
                    accept="image/*"
                    style="display: none"
                  />
                </label>
              </div>
            </div>
          </div>
          
          <div class="lblinp">
            <label for="bio">Bio</label>
            <input type="text" id="settings-bio" name="bio" />
          </div>
          
          <div class="lblinp">
            <label for="username">Username</label>
            <input type="text" id="settings-username" name="username" />
          </div>


          <div class="lblinp">
            <label for="email">Email</label>
            <input type="email" id="settings-email" name="email" />
          </div>

          <div class="lblinp">
            <label for="password">Password</label>
            <input type="password" id="settings-password" name="password" />
          </div>

          <button type="" class="button">SAVE</button>
          
        </form>
      </div>
    </main>
  </body>
</html>
