*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  font-size: 16px;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.bold {
  font-weight: bold;
}

main {
  width: min(70%, 800px);
  margin: 0 auto;
}

header {
  min-width: 100%;
  background-color: black;
  color: white;
}
header .rigt__elem span {
  margin-right: 1rem;
}

header .rigt__elem span a {
  cursor: pointer;
  color: white;
  text-decoration: none;
}
#logout {
  cursor: pointer;
}

nav {
  width: min(90%, 800px);
  min-height: 3rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo {
  font-family: "Lobster", cursive;
  font-size: 2rem;
}

.settingsContainer {
  width: min(90%, 500px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#settings__form {
  display: flex;
  flex-direction: column;
  height: 70%;
  width: 70%;
  text-align: center;
}

.profilePicContainer {
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.profilePic {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.profilePicOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.6);
  transition: opacity 0.3s ease;
  cursor: pointer;
}
.profilePicOverlay:hover {
  opacity: 1;
}

.emoji {
  font-size: 36px;
  color: white;
}

.lblinp {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.picLabel {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.picLabel:hover {
  cursor: pointer;
}

#profilePic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border-bottom: 2px solid black;
}

#settings__form input {
  margin-bottom: 0.75rem;
  padding: 10px;
  border-radius: 0.5rem;
  border: none;
  border-bottom: 1px solid;
}

.button {
  width: 120px;
  border: none;
  margin: 0 auto;
}

@media (max-width: 630px) {
  header {
    background-color: white;
  }
  #logo {
    display: none;
  }
  
  .rigt__elem {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .rigt__elem span {
    position: sticky;
    margin-right: 0;
    display: block;
    padding: 1rem; /* İhtiyaca göre ayarlayabilirsiniz */
  }
  
  .button {
    margin-bottom: 5rem;
  }
}
